body{
    font-family: Roboto,Light;
    
}

h5{
   color:#212529 ; 
}
h6{
    color: #707070;
}

p{
    color: #707070;   
}

.container-fluid{
    margin-left:2%;
    margin-top: auto;
}

.bg-verde{
    background: #28A745;
    color: #FFFFFF;
    text-align: center;
    margin-top: auto;
}
.imagenNavbar{
    width: auto;
    height: 30px;
}

.imagenCupon{
    height: 50px;
}

.container{
    padding-left: 1%;


}

.inputEnviar{
    background: #F8F9FA;
    border-color: #DDDDDD;
    border-radius: 10%;
    width: 23%;
    height: 40%;
    color: #212529;
}

.logo-black{
    width: auto;
    height: 25px;
    padding: 1%;
}

.valor{
    color: #707070;   
}


.sep{
    margin-left: 20%;
    margin-top: 11%;
}
.sep1{
    margin-left: 5%;
    color: #28A745;
    margin-top: 9%;
}

.card-img-top{
    width: 100%;
    height: auto;

}

.container-fluidFooter{
    text-align: center;
  
}